
.currency-main {
  margin-top: 50px;
  border: 1px solid rgb(118, 118, 118);
  width: 500px;
  height: 200px;
  border-radius: 5lx;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.amount-input {
  width: 100px;
  height: 22px;
  margin-right: 10px;
}

.first-currency-option {
  width: 70px;
  height: 28px;
  margin-right: 10px;
}

.second-currency-option {
  width: 70px;
  height: 28px;
  margin-right: 10px;
}

.result-input {
  width: 100px;
  height: 22px;
  margin-right: 10px;
}
